@{
  Layout = "_Layout";
}

@model Shelter.Models.Animal

<h4>Add a new animal tenet</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.LabelFor(model => model.Gender)
  @Html.TextBoxFor(model => model.Gender)
  @Html.LabelFor(model => model.AdmitDate)
  @Html.TextBoxFor(model => model.AdmitDate, "{0:MM/dd/yyyy}", new{@class = "datepicker form-control input-datepicker", placeholder = "dd/mm/yyyy", data_date_format = "dd/mm/yyyy", type = "date"})
  @Html.LabelFor(model => model.Breed)
  @Html.TextBoxFor(model => model.Breed)
  <input type="submit" value="Add new animal tenet" />
}
<p>@Html.ActionLink("Show all animal tenets", "Index")</p>
